<!DOCTYPE html>
<html>
  <head>
    <title> Sample App </title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "sample app", home_path, id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li class="pull-left"><%= link_to "Home", home_path %></li>
              <li class="pull-left"><%= link_to "Help", help_path %></li>
              <li class="pull-left"><%= link_to "Sign in", "#" %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="container">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
