<h2><%= t('carts.cart.title') %></h2>
<table>
	<%= render(cart.line_items) %>

	<tr class= "total_line">
		<td colspan="2"  class="total_word">Total</td>
		<td><%= number_to_currency(cart.total_price) %></td>
	</tr>
</table>
<%= button_to t("carts.cart.checkout"), new_order_path, method: :get %>
<%= link_to t('carts.cart.empty'), @cart, method: :delete, data: { confirm: "Are you sure?" } %> 