<h1>Listing zombies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Bio</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <!--same thing: 
    <div id="zombies">
      <%= render @zombies %>
    </div>-->
    <div id="zombies">
    <% @zombies.each do |zombie| %>
     <%= render zombie %>
      <!--<tr>
        <td><%= zombie.name %></td>
        <td><%= zombie.bio %></td>
        <td><%= zombie.age %></td>
        <td><%= link_to 'Show', zombie %></td>
        <td><%= link_to 'Edit', edit_zombie_path(zombie) %></td>
        <td><%= link_to 'Delete', zombie, method: :delete, remote: true %></td>
      </tr>-->

    <% end %>
  </div>
  <%= form_for(Zombie.new, remote: true) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <%end%>
  </tbody>
</table>

<br>

<%= link_to 'New Zombie', new_zombie_path %>
