<%= form_for([@article, current_user.replies.new], remote: true) do |f| %>
	<div class="field">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :email%>
		<%= f.text_field :email, value: current_user.email %>
	</div>
	<div class="field">
		<%= f.label :body %>
		<%= f.text_area :body %>
	</div>
	<div class="actions">
		<%= f.submit "Send" %> or
		<%= link_to 'Cancel', 'javascript:void(0)', :onclick => "$('#new_comment').slideUp(); $('#new_comment_link').show()" %>
	</div>
<% end %>